* {
    margin: 0px;
    padding: 0px;
}
.contenedor{
    width: 100%;
}
/*header*/
header{
    background-color: black;
    display: grid;
  }
header div{
    background-image: linear-gradient(to right, white , white, rgb(87, 0, 0));
    width: 100%;
    margin-top: 40px;
}

.logo_encabezado{
    width: 30%;
    }

.fondo__menu{
    background-color: black;
    display: flex;
}

nav .lista{
    list-style: none;
    margin-left: 30px;
    text-align: left;
    font-family: 'Trebuchet MS';
    font-size: 17px;
 
}
.lista li{
    background-color: white;
    display: inline-block;
    border:   solid 2px rgb(87, 0, 0);
    margin:  3px 0px 3px 0px;
    padding: 5px 10px 5px 10px;
}
/*cuerpo index*/
.texto__noticias{
    font-family: 'Segoe UI';
    font-size: 30px;
    color: rgb(87, 0, 0);
    margin: 10px 0px 0px 30px;
    text-decoration: underline;
}
.containerFoto{
    display: flex;
    justify-content: center;
   }

.imagenes{    
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(2, 200px);
        grid-column-gap: 30px;    
      }
.foto{
        width: 100%;
       }

/*Contacto*/
.leyenda__contacto{
    padding-top: 20px
}
.formularios{
    height: 400px;
    display: flex;
    justify-content: center;
    width: 50%;    
    }
.form__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: rgb(87, 0, 0);
      }
 .button {
    margin: auto;
    font-family: 'Segoe UI';
    color: rgb(87, 0, 0);
    font-size: 15px;
   }

/*Nosotros*/
.nosotros{
     position: relative;
     display: inline-block;
     text-align: start;
        }
    
    .texto__nosotros{
        background-color: rgb(255, 255, 255);
        opacity: 90%;
        font-family: 'Segoe UI';
        font-size: 30px;
        color: rgb(87, 0, 0);
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .backgroundNosotros{
        width: 100%;
    }
        
    .descripcion__nosotros{
        background-color: rgb(255, 255, 255);
        opacity: 90%;
        font-family: 'Segoe UI';
        color: rgb(87, 0, 0);
        line-height: 25px;
        position: absolute;
        top: 50px;
        left: 10px;
    }
    /*footer*/
    footer{
        background-color: gray;
        height: 100%;
        width: auto;
        }
        
        .grid__footer{
            display: flex;
            justify-content: space-around;
        }
        
    footer div{
        font-family: 'Segoe UI';
        font-size: 20px;
        line-height: 30px;
    }

/*responsive*/
@media (min-width: 321px) and (max-width: 767px) {
    .contenedor {
        display: grid;
        }
    header {
         display: grid;
         grid-template-columns: repeat(2 1fr);
        }
      .fondo__menu  .lista{
        display: flex;
        flex-direction: column;
        justify-content: start;
        }
    .imagenes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 5px;
        grid-column-gap: 10px;
    }
    .foto{
        width: 75%;
    }
    footer{
        height: 100%;
    }
    .grid__footer{
        display: flex;
        flex-direction: column;
        justify-content: center
    }